.header a{
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}
.header a:hover,.header .toggler-icon:hover{
    color: #34bb9d;
}
.toggler-icon{
    padding: 5px;
    background-color: #00c89e;
    border-radius: 3px;
    font-size: small;
    font-weight: bold;
}
nav, .header{
    background-color: #333d53;
}
.top {
    background-color: #00c89e;
}
.star {
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

.star>.bars {
    display: flex;
    justify-self: center;
    width: 100px;
    height: 1px;
    border: 2px solid white;
    border-radius: 2px;
}

.showboat {
    height: 400px;
    background-color: #00c89e;
}

.showboat>.image {
    height: 165px;
    width: 165px;
    background-color: lawngreen;
}

.showboat h6>span:nth-child(1)::after {
    content: " -";
}

.showboat h6>span:nth-child(3)::before {
    content: "- ";
}

.portfolio {
    height: fit-content;
    color: #333d53
}
.portfolio > .star, .contact > .star{
    color: #333d53
}
.portfolio > .star>.bars, .contact > .star>.bars{
    border: 2px solid #333d53;
}

.portfolio-items {
    height: fit-content;
}
.portfolio-items>div {
    border: 5px solid white;
    /* height: 200px; */
    /* width: 200px; */
    padding:5px;
    border-radius: 10px;
}
.portfolio-items > div:nth-child(1){
    background-color: #be375c;
}
.portfolio-items > div:nth-child(2){
    background-color: #13a2ba;
}
.portfolio-items > div:nth-child(3){
    background-color: #1a1714;
}
.portfolio-items > div:nth-child(4){
    background-color: #3473c3;
}
.portfolio-items > div:nth-child(5){
    background-color: #4000b8;
}
.portfolio-items > div:nth-child(6){
    background-color: #cab19e;
}
img{
    background-color: white;
    object-fit: cover;
    object-position: center center;
    width:150px;
    height:150px;
}
.portfolio-items > div:nth-child(1) > img{
    background-color: #34bb9d;
}
.portfolio-items > div:nth-child(2) > img{
    background-color: #df5337;
}
.portfolio-items > div:nth-child(3) > img{
    background-color: #e7f3ef;
}
.portfolio-items > div:nth-child(4) > img{
    background-color: #d77523;
}
.portfolio-items > div:nth-child(5) > img{
    background-color: #e9d732;
}
.portfolio-items > div:nth-child(6) > img{
    background-color: #374b5e;
}
.about {
    background-color: #00c89e;
}

.contact {
    color: #333d53;
}
.contact button{
    background-color: #00c89e;
    border: none;
}
.contact button:hover{
    background-color: teal;
}
/* _____________________________________________________ */
.input {
    width: 100%;
    margin: 0 auto;
    height: 40px;
    /* font-family: Lato;
  font-size: 1.4em; */
}
.input input,
.input textarea {
    width: 100%;
    resize: none;
    /* margin-top: 80px; */
    /* font-family: Lato;
    font-size: 1.8em; */
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    color: rgb(141, 141, 141);
    padding-left: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.068);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.input input:focus+label,
.input textarea:focus+label {
    top: -50px;
    font-size: 1em;
    transition: all .3s;
}
.input label {
    display: inline-block;
    position: relative;
    left: 10px;
    top: -30px;
    font-size: 1.2em;
    cursor: text;
    color: rgb(170, 170, 170);
    transition: all .3s;
}
textarea[placeholder] {
    color: rgb(97, 97, 97);
    font-size: 1.2em;
}
/* _____________________________________________________ */
.bottom{
    background-color:#333d53;
    height:auto;
    color: white;
}
.social-links > span{
    border: 2px solid white;
}
.footer{
    background-color: #232633;
}